{% from "macros/fields.tmpl" import render_input_field, render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Zbozi{% endblock %}

{% block content %}
  <h3>insert</h3>
  <div class="form-group">Vložte název výrobku, počet kusů a cenu</div>
  <form method="POST" id='insert-form'>
    {{ form.hidden_tag() }}
    {{ render_input_field(form.nazev) }}
    {{ render_input_field(form.ks) }}
    {{ render_input_field(form.cena) }}
    {{ render_submit() }}
  </form>
{% endblock %}
